.autopark {
  width: 100%;
  .bg {
    background: #000;
    width: 100%;
    height: 100px;
  }
  .content {
    padding-top: 100px;
    height: auto;
  }
  .header {
    padding: 40px 0;
  }
  h1 {
    font-weight: 400;
  }
  .search-block {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 0 15px;
    position: relative;
    input {
      font-family: 'Merriweather', sans-serif;
      color: #fff;
      border: 0;
      padding: 10px;
      font-size: 14px;
      width: 200px;
    }
    .remove {
      width: 16px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-25%, -50%);
    }
  }
  .cars {
    flex-wrap: wrap;
    margin: 0 -40px;
    padding: 60px 40px;
    background: #f6f6f6;
}
}



.remove {
  margin-left: auto;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.cartTotal {
  li {
    align-items: baseline;
  }
  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    margin: 0 10px;
  }
}

.basket {
  border-radius: 50px 0 0 50px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background: #1FB724;
  position: fixed;
  right: 0;
  top: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}