.card {
  position: relative;
  background: #fff;
  border-radius: 20px 20px 0 0;
  transition: transform .2s ease-in-out;
  margin-bottom: 30px;
  height: 250px;
  overflow: hidden;

  img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
  }
  .card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transform: translateY(100%);
    transition: .5s ease-in-out;
    border-radius: 20px 20px 0 0;

    .card__header {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      border-radius: 20px 0 0 0;
      background-color: #fff;
      transform: translateY(-100%);
      transition: .5s ease-in-out;
      img {
        width: 30px;
        height: 30px;
      }
      button {
        z-index: 1;
        margin-left: auto;
        background: #fff;
        img {
          border-radius: 0;
        }
      }
    }

    .card__description {
      padding: 20px;
    }
  }

  &:hover {
    .card-overlay {
      transform: translateY(0);
    }
    .card__header {
      transform: translateY(0);
    }
  }
}

@media (max-width: 768px) {
  .card {
    max-width: 360px;
    margin: 0 auto;
  }
}