header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 10;
  transition: all .3s ease;

  &.bg {
    background: #000;
    opacity: .95;
  }

  .hide {
    top: -100px;
  }

  .header {
    height: 100%;
    border-bottom: 1px solid #1FB724;
  }
  .call {
    display: none;
  }
  .nav-menu {
    li + li {
      margin-left: 20px;
    }
  }

  .logo {
    position: absolute;
    background: url("../assets/img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nav {
    position: relative;
    .nav-list {
      li {
        cursor: pointer;
        margin-left: 20px;
      }
    }
    .user {
      svg {
        opacity: .5;
        transition: opacity .5s ease;
      }

      &:hover {
        svg {
          opacity: 1;
        }
      }
    }

    .dropdown-menu {
      position: absolute;
      right: 0;
      top: -4000px;
      padding: 10px 0;
      background: #f6f6f6;
      border-radius: 10px;
      min-width: 280px;
      color: #000;
      opacity: 0;
      transition: opacity .5s ease-in-out;
      &.active {
        top: 40px;
        opacity: 1;
      }
      li {
        padding: 10px 20px;
        &:hover {
          background: #EAEAEA;
          path {
            fill: #1FB724;
          }
        }
      }
    }
  }
  .btn {
    font-family: 'Montserrat', serif;
    padding: 5px 25px;
  }

  .avatar {
    width: 32px;
    height: 32px;
    background-color: #1FB724;
    border-radius: 50%;
  }
}

@media (max-width: 1200px) {
  header {
    height: 88px;

    .nav-menu li:last-child {
      display: none;
    }

    img {
      width: 70px;
      height: auto;
    }
  }
}

@media (max-width: 1024px) {
  header {
    .call {
      font-family: "Montserrat", sans-serif;
      cursor: pointer;
      display: block;
    }
    
    .nav-menu li, .nav-list {
      display: none;
    }

    .burger {
      display: block;
    }
    .nav {
      position: absolute;
    }
  }
}

@media (max-width: 768px) {
  header {
    .logo {
      background-image: url("../assets/img/logoMini.png");
      width: 36px;
      height: 37px;
    }
    .call {
      font-size: 12px;
    }
  }
}